@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Anton&display=swap');
html{
    font-family: 'Akshar', sans-serif;
        background-color: #0080ff;
}
h1{
    font-weight: 100;
    font-size: 50px;
    font-family: 'Akshar',sans-serif;
    color:white;
}
.code-inputs{
    display: flex;
    background-color: #016cd7;
    border: solid 2px #004b96;
    border-radius: 10px;
    min-width: 100%;
    height:15%;
    width:100%;
    padding:7px;
}
#code{
    font-family: 'Akshar',sans-serif;
    color:white;
    font-size: 20px;
    text-align: center;
    -webkit-appearance: none;
    margin: 0;  
    flex-grow: 10;
    border: 0;
    border-radius: 7px;
    background-color: #0080ff;
}
#code:focus{
    border:none;
    outline:none;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#codeButton{
    color:rgb(255, 254, 232);
    background-color: #333948;
    margin-left: 5px;
    font-family: 'Akshar',sans-serif;
    font-weight: bold;
    border:none;
    border-radius: 7px;
    flex-grow: 1;
}
#codeButton:hover{
    background-color: #272c38;
}



.center {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.main-container{
    height:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}