#list{
    width:100%;
    min-height:600px;
    border:1px solid black;
    display: flex;
    justify-content: space-between;
}
#first,#second,#third,#testGroupContainer{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#second{
    border-left: 1px solid black;
    border-right:1px solid black;
}
#third{
    border-right:1px solid black;
}
.first-stage,.second-stage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.first-stage{
    margin-bottom:15px;
}
.second-stage{
    border-top:1px solid black;
}
.second-stage-question{
    margin-bottom:10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}